<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'title' %>:</strong>
  <%= @post.title %>
</p>

<p>
  <strong><%= t 'body' %>:</strong>
  <%= @post.body %>
</p>

<p>
  <strong><%= t 'published' %>:</strong>
  <%= @post.published %>
</p>

<%= link_to t('edit'), edit_post_path(@post) %> |
<%= link_to t('back'), posts_path %>
